@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Header */
/* Cliente e Funcionario */


.navbar {
    background: rgb(71,8,8);
    background: radial-gradient(circle, rgba(71,8,8,1) 0%, rgba(191,22,22,1) 100%);
}

.bi.bi-card-checklist,
.bi.bi-bag-check,
.bi.bi-person-bounding-box,
.bi.bi-person-gear,
.bi.bi-clipboard-data,
.bi.bi-book,
.bi.bi-card-list,
.bi.bi-bag {
    font-size: 2rem !important;
    color: #e31f1f;
}


.bi.bi-card-checklist:hover,
.bi.bi-bag-check:hover,
.bi.bi-person-bounding-box:hover,
.bi.bi-person-gear:hover,
.bi.bi-clipboard-data:hover,
.bi.bi-book:hover,
.bi.bi-card-list:hover,
.bi.bi-bag:hover {
    color: #ffc8c8;

}

.bi.bi-card-checklist,
.bi.bi-bag-check,
.bi.bi-person-bounding-box,
.bi.bi-person-gear,
.bi.bi-clipboard-data,
.bi.bi-book,
.bi.bi-card-list,
.bi.bi-bag {
    margin: 0 50px !important;
}

.bi.bi-card-checklist:hover,
.bi.bi-bag-check:hover,
.bi.bi-person-bounding-box:hover,
.bi.bi-person-gear:hover,
.bi.bi-clipboard-data:hover,
.bi.bi-book:hover,
.bi.bi-card-list:hover,
.bi.bi-bag:hover {
    color: #ffc8c8;
}

#btnSair {
    color: #ffe1e1;
    border-color: #831919;
}

#btnSair:hover {
    color: #ffc8c8;
}

h1 {
    font-weight: 800;

}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

h4 {
    font-weight: 500;
}

h5 {
    font-weight: 400;
}

h6 {
    font-weight: 300;
}