@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #232323;
    color: white;
}

.img-fluid {
    max-width: 50%;
    max-height: 50%;
}

h2 {
    font-weight: 700;
}

.login-card {
    max-width: 460px;

    background: rgba(255, 255, 255, 0.71) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5.9px) !important;
    -webkit-backdrop-filter: blur(5.9px) !important;
    border: 1px solid rgba(255, 255, 255, 1) !important;
}

.form-control {
    background-color: #c8c8c8;
    border-color: white;
}