.card-body {
    height: 300px; /* Define a altura fixa do card */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descricaoProduto {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Define o número máximo de linhas */
    -webkit-box-orient: vertical;
    height: 4.5em; /* Define a altura que acomoda 3 linhas de texto */
    margin-bottom: 1em;
}

.adicionarSacolaButton, #addToBagButton {
    background-color: #7CFF89 !important;
    border: none !important;
    color: black !important;
}

#addToBagButton {
    margin-top: 0.5rem;
}

.adicionarSacolaButton:hover, #addToBagButton:hover{
    background-color: #157347 !important;
    color: white !important;

}

.form-range.form-range-track-height {
    height: 38px;
}

#toggleFilters {
    color: #9e1616 !important;
    margin-bottom: 5px !important;
    background: none !important;
    border: none !important;
    font-size: 1.5rem !important;
}

#toggleFilters:hover {
    color: #ffc8c8 !important;
}

/* Estilos para os filtros */
#filterPrice::-webkit-slider-thumb {
    background-color: #9e1616 !important; /* Cor do botão antes de apertar */
}

#filterPrice:active::-webkit-slider-thumb {
    background-color: #ffc8c8 !important; /* Cor do botão depois de apertar */
}

/* Estilo para hover e seleção das opções do dropdown */
#filterCategory option:checked {
    background-color: #ffc8c8 !important; /* Cor de fundo ao passar o mouse e ao selecionar */
    color: #000 !important; /* Cor do texto ao passar o mouse e ao selecionar */
}